
module myzimbra 1.0;

require {
	type init_t;
	type su_exec_t;
	type logrotate_t;
	type usr_t;
	type fprintd_t;
	class passwd rootok;
	class dbus send_msg;
	class file { execute open read write };
}

#============= init_t ==============
allow init_t su_exec_t:file open;

#!!!! This avc is allowed in the current policy
allow init_t su_exec_t:file { execute read };

#============= logrotate_t ==============
allow logrotate_t fprintd_t:dbus send_msg;
allow logrotate_t self:passwd rootok;
allow logrotate_t usr_t:file write;
